@import "tailwindcss";

body {
    font-family: "Poppins", sans-serif;
}

input,
button {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
}

input {
    font-family: "Inter";
}

button {
    cursor: pointer;
}
